body {
  background: #fff url('../images/bg.png');
  color: #666;
  font-size: 13px;
  line-height: 1.6;
}
.block ul.pagination {
  padding-left: 0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}
a:hover,
li a.active {
  text-decoration: underline;
}
p {
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4 {
  font-family: 'PT Sans Narrow', sans-serif;
}
.form-control {
  width: auto;
}
.field-required,
.form-required {
  color: #b94a48;
}
div.error,
table tr.error {
  background-color: inherit;
}
.wrap {
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden;
}
.main .wrap-inner {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
.wrap.header-menu {
  background-image: none;
  border: none;
  background: #207dda;
  height: 50px;
  border-radius: 10px 10px 0 0;
  overflow: visible;
  margin-bottom: 0;
}
.header-menu .block {
  overflow: visible;
}
.header-menu ul.menu li a {
  color: #fff;
  text-shadow: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
}
.header-menu ul.menu > li > a:hover,
.header-menu ul.menu > li > a:focus,
.header-menu ul.menu > li > a.active,
.header-menu ul.nav li.open > a,
.header-menu ul.menu > li.active-trail > a,
.header-menu.navbar-default .navbar-nav>.active>a,
.header-menu.navbar-default .navbar-nav>.active>a:focus,
.header-menu.navbar-default .navbar-nav>.active>a:hover,
.header-menu.navbar-default .navbar-nav>.open>a,
.header-menu.navbar-default .navbar-nav>.open>a:focus,
.header-menu.navbar-default .navbar-nav>.open>a:hover {
  background-color: inherit;
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
  text-decoration: underline;
}
#header-menu {
  float: right;
  left: -50%;
  position: relative;
}
.header-menu section > ul.menu {
  margin: 0;
  left: 50%;
  position: relative;
}
.header-menu ul.menu > li {
  float: left;
}
.header-menu ul.nav .caret {
  border-top: 4px solid #fff;
  margin-left: 5px;
}
.header-menu ul.menu > li > ul > li > a {
  color: #333;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.8;
  white-space: nowrap;
}
.header-menu .block ul.dropdown-menu {
  z-index: 9999;
  padding-left: 0;
}
.header-menu .dropdown-menu>.active>a,
.header-menu .dropdown-menu>.active>a:hover,
.header-menu .dropdown-menu>.active>a:focus {
  background-color: #207dda;
  color: #fff;
}
.wrap-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.header .wrap-inner {
  margin: 20px auto;
}
.site-logo {
  text-align: center;
  display: block;
}
a.logo {
  width: auto;
  max-height: 70px;
  display: block;
}
.slogan {
  font-size: 18px;
  line-height: 40px;
  color: #999;
  margin: 0;
}
.social-list,
.social-list ul {
  padding: 0;
  margin: 0;
}
.social-list {
  margin-top: 30px;
}
.social-list ul li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}
.social-list ul li a {
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  text-indent: -9999em;
  opacity: 0.6;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.social-list ul li a.facebook {
  background: url('../images/icon_facebook.png') no-repeat center center;
}
.social-list ul li a.twitter {
  background: url('../images/icon_twitter.png') no-repeat center center;
}
.social-list ul li a.pinterest {
  background: url('../images/icon_pinterest.png') no-repeat center center;
}
.social-list ul li a:hover {
  opacity: 1;
}
.search-form {
  margin-top: 35px;
}
.header-menu .wrap-inner ul.menu > li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 !important;
}
.header-menu .wrap-inner ul.menu > li > a {
  color: #fff;
  font-size: 15px;
  display: block;
  padding: 13px 30px;
  font-weight: bold;
  margin-right: 30px;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.9);
}
.header-menu .wrap-inner ul.menu > li.last > a {
  margin-right: 0;
}
.header-menu .wrap-inner ul.menu > li > a:hover,
.header-menu .wrap-inner ul.menu > li > a.active {
  text-decoration: none;
  background: #9fc748;
}
.main-table {
  display: table;
  width: 100%;
}
.main-row {
  display: table-row;
}
.main-content {
  display: table-cell;
  vertical-align: top;
  float: none;
}
.main-content-inner {
  padding: 40px 25px 40px 40px;
}
.sidebar-right {
  display: table-cell;
  vertical-align: top;
  float: none;
  background: #edf4fb;
  padding-left: 0;
}
.region-sidebar-right {
  padding: 30px 0;
}
.breadcrumb {
  font-size: 11px;
  background: none;
  margin-left: 0;
  padding: 0;
  padding-bottom: 5px;
}
.block ul {
  padding-left: 16px;
}
.sidebar-right .block {
  padding: 0 20px 30px;
}
.sidebar-right .block-title {
  background: #cce2ed;
  color: #222;
  margin: 0 -20px 20px -20px;
  font-size: 20px;
  padding: 0 30px;
  line-height: 40px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.sidebar-right .block ul li {
  border-bottom: 1px dotted #ddd;
  padding: 5px 0;
}
.more-link a {
  float: right;
  font-weight: bold;
}
.more-link a:before {
  content: '» ';
  line-height: 16px;
  vertical-align: text-bottom;
  font-size: 17px;
}
.node-teaser {
  border: 1px solid #e7e7e7;
  margin-bottom: 30px;
  padding: 20px;
}
.node-teaser > h2 {
  margin-top: 0;
  font-size: 26px;
  margin-bottom: 5px;
}
.field-type-taxonomy-term-reference,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item {
  float: left;
}
.field-type-taxonomy-term-reference {
  margin-top: 15px;
  float: none;
  overflow: hidden;
}
.field-type-taxonomy-term-reference .field-label {
  font-weight: bold;
}
.field-type-taxonomy-term-reference .field-items {
  font-style: italic;
}
.field-type-taxonomy-term-reference .field-item {
  margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-item:after {
  content: ", ";
}
.field-type-taxonomy-term-reference .field-item:last-child:after {
  content: "";
}
.node-teaser .list-inline {
  float: right;
}
.node .field-name-body h2 {
  font-size: 24px;
}
.node .field-name-body h3 {
  font-size: 20px;
}
.list-inline a {
  padding: 4px 12px;
  display: inline-block;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
}
.field-name-field-image {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
.block {
  display: block;
  overflow: hidden;
}
.pagination {
  clear: both;
  display: block;
  margin: 0;
}
.item-list ul.pagination li {
  margin: 0;
}
#comments > h2.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
#comments div.comment,
#comments div.commment-by-author,
#comments div.comment-mine,
#comments div.comment-by-anon,
#comments div.comment-new {
  background-color: #f8fbff;
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 30px;
}
#comments div.comment.even {
  background-color: #fff;
}
#edit-comment-body-und-0-format {
  display: none;
}
#comments .comment h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0px 0 5px 0;
}
.submitted {
  font-size: 12px;
}
.indented {
  margin-left: 40px;
}
#comments .comment ul.list-inline {
  margin-bottom: 0;
}
#comments .comment ul.list-inline a {
  padding: 3px 12px;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 3px;
  text-transform: capitalize;
}
span.new,
span.marker {
  float: right;
  margin-left: 10px;
  background-color: #5bc0de;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
span.marker {
  float: none;
}
.description {
  font-size: 12px;
  color: #999;
  font-style: italic;
  line-height: 22px;
  margin-top: 5px;
}
.block-comment li span,
.block-node .node-author {
  font-size: 11px;
  font-style: italic;
}
.before-footer {
  padding: 30px;
  overflow: hidden;
  background: #e2eefa;
}
.before-footer .block-title {
  font-size: 20px;
  line-height: 40px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.before-footer ul {
  line-height: 200%;
}
.footer {
  margin-top: 0;
  padding: 10px 30px;
  overflow: hidden;
  background: #207dda;
  color: #fff;
  border-top: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
}
.footer a {
  color: #fff;
}
.copyright a {
  font-weight: bold;
}
.footer-menu {
  margin: 0;
}
.footer-menu ul {
  float: right;
}
.footer-menu ul li {
  border-left: 1px solid #ddd;
  display: inline;
  line-height: 16px;
  padding: 0px 10px;
  list-style: none;
  margin: 0;
}
.footer-menu ul li:last-child {
  padding-right: 0;
}
.footer-menu ul li:first-child {
  border-left: none;
  padding-left: 0;
}
.footer-menu ul.nav>li>a {
  display: inline;
  padding: 0;
}
.footer-menu ul.nav>li>a:hover,
.footer-menu ul.nav>li>a:focus {
  background: none;
  text-decoration: underline;
}
